/*
 * Load Main Bootstrap LESS files
 */

@import 'inc/bootstrap-master/bootstrap';

/*
 * LESS Plugins
 */
@import 'inc/less-plugins/for';


/*
 * Variable and Mixin
 */

@import 'inc/variables';
@import 'inc/mixin';

/*
 * Load Font
 */
@import 'inc/font';
 
/*
 * Vendors
 */
@import 'vendors/material-icons/material-design-iconic-font';
@import 'vendors/weather-icons/weather-icons';
@import 'vendors/chosen/bootstrap-chosen-variables';
@import 'vendors/chosen/bootstrap-chosen';
@import 'vendors/bootstrap-select/variables';
@import 'vendors/bootstrap-select/bootstrap-select';
@import 'vendors/bootstrap-datetimepicker/_bootstrap-datetimepicker';
@import 'vendors/fileinput/fileinput';
@import 'vendors/waves/waves';

/*
 * Load Website related LESS files
 */ 
@import 'inc/generics';
@import 'inc/bootstrap-overrides';
@import 'inc/base';
@import 'inc/header'; 
@import 'inc/sidebar';
@import 'inc/form/form';
@import 'inc/dropdown';
@import 'inc/listview'; 
@import 'inc/progress-bar';
@import 'inc/chat';
@import 'inc/tabs';
@import 'inc/card';
@import 'inc/chart';
@import 'inc/widgets';
@import 'inc/table';
@import 'inc/todo';
@import 'inc/button';
@import 'inc/form';
@import 'inc/pagination';
@import 'inc/popover';
@import 'inc/wizard';
@import 'inc/alert'; 
@import 'inc/media';
@import 'inc/modal'; 
@import 'inc/panel';
@import 'inc/tooltip';
@import 'inc/breadcrumb';
@import 'inc/messages';
@import 'inc/404';
@import 'inc/login';
@import 'inc/misc';
@import 'inc/ie-warning';

/*
 * Vendor Overrides
 */
@import 'inc/vendor-overrides/mediaelement';
@import 'inc/vendor-overrides/fullcalendar';
@import 'inc/vendor-overrides/bootgrid';
@import 'inc/vendor-overrides/bootstrap-select';
@import 'inc/vendor-overrides/bootstrap-chosen';
@import 'inc/vendor-overrides/noUiSlider'; 
@import 'inc/vendor-overrides/farbtastic';
@import 'inc/vendor-overrides/summernote';
@import 'inc/vendor-overrides/bootstrap-datetimepicker';
@import 'inc/vendor-overrides/fileinput';
@import 'inc/vendor-overrides/sweet-alert';


body {
	padding-top: 0px;	
}


label.radio.radio-inline {
	padding-top: 0px;
	margin-top: 7px;
}

hr.wizard-divider {
	margin-top: -20px;
	margin-right: -20px;
	margin-left: -20px;
}

i.md-label-position {
	position: absolute;
	right: 10px;
	font-size: 23px;
}

.dropzone {
	min-height: 150px;
	border: 2px dashed #2196F3;
	background: white;
	padding: 20px 20px;
	margin-top: -35px;

	h1 {
		font-weight: 400;
	}

	h2 {
		font-weight: 400;
	}

	h3 {
		font-weight: 400;
	}
}